@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-down-enter {
    transform: scaleY(0);
    transform-origin: top;
}

.slide-down-enter-active {
    transform: scaleY(1);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
}

.slide-down-exit {
    transform-origin: top;
    transform: scaleY(1);
}

.slide-down-exit-active {
    transform: scaleY(0);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
}

/* React Select */
.select__input:focus {
    box-shadow: none;
}

.select__control {
    border-radius: 8px !important;
    border: 1px solid rgb(229, 231, 235) !important;
}

.select__control--is-focused {
    border: 1px solid rgb(96, 165, 250) !important;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(147, 197, 253, 0.4) 0px 0px 0px 3px, rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.rs-picker-default .rs-picker-toggle.rs-btn-lg {
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 0.5rem;
}

button, input, optgroup, select, textarea {
    font-size: 14px !important;
}

.rs-picker-toggle.rs-btn-lg {
    font-size: 14px !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.rs-picker-toggle-caret {
    right: 30px !important;
}

.rs-btn-primary {
    background-color: #2589f5;
    background-color: var(--rs-btn-primary-hover-bg);
    color: #fff;
    color: var(--rs-btn-primary-text);
}